.flashy {
    color: red;
    font-style: italic;
}

p {
    color: blueviolet;
}

body {
    background-color: blanchedalmond;
}

.best {
    color: chartreuse;
    font-weight: bolder;
    font-style: italic;
}